.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    max-width: 370px;
    margin: 0;
    z-index: 2;
}
@media (max-width: 768px) {
    .cover__subtitle {
        font-size: 3vw;
    }
}
@media (max-width: 320px) {
    .cover__subtitle {
        font-size: 4.4vw;
        line-height: 114%;
        max-width: 260px;
    }
}