.cover__background {     font-family: 'Inter';
    font-style: normal;   
    background-image: url(/image/cover-trains.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1024/640;
}
